.item-list-container {
  width: 100%;
  min-height: 60vh;
  padding: 30px;
  margin-bottom: 60px;

  background-image: url('https://images.pexels.com/photos/4814061/pexels-photo-4814061.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4814061.jpg&fm=jpg');
}

.item-list-container__title {
  text-align: center;
  margin: 30px 0;
  font-size: 2rem;
}
